{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Актуально {% if page %}(страница - {{ page }}){% endif %} / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
      <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
      <li class="breadcrumb-item active" aria-current="page">Актуально</li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Актуально">
    <meta property="og:description" content="Актуальные новости ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_actuals.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_actuals.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
            <div class="row">
              <div class="col-9 news">
                {% for actual in all_actuals %}
                <div class="news__post">
                    <div class="news__header">
                        <a class="news__header-text" href="{{ actual.get_absolute_url}}">{{ actual.title}}</a>
                    </div>
                    {% if actual.image %}
                    {# Если есть изображение то выводим его и текст толжен быть больше условно 100 #}
                      {% thumbnail actual.image "300" crop="center" as im %}
                          <img class="rounded float-left news__post-imgs" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                      {% endthumbnail %}
                      <div class="text-justify news__content">
                          {{ actual.content|truncatewords_html:50|safe }}
                          <a class="font-weight-bold" href="{{ actual.get_absolute_url}}"> подробнее</a>
                      </div>
                    {% else %}
                    {# Если нет изображения то размер текста делаем меньше #}
                      <div class="text-justify news__content news__content_justify">
                          {{ actual.content|truncatewords_html:45|safe }}
                          <a class="font-weight-bold" href="{{ actual.get_absolute_url}}"> подробнее</a>
                      </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="news__created"><i class="far fa-calendar-alt"></i> {{ actual.publish }}</div>
                </div>
                {% endfor %}
                {% include "include_paginations.html" with page=all_actuals %}
              </div>

            {% include "include_banners.html" %}
            </div>
{% endblock %}