{% load thumbnail %}
<div class="col-3 banners">
{% if all_videonews.0 %}
  {# Последнее по дате загруженное видео #}
  <div class="banners__post">
    <div class="banner with_image_text">
      {% if all_videonews.0.video %}
      {# Если видео загружено физически #}
          <video style="outline:none; width:100%; height:150px;" controls="controls" autoplay="autoplay" muted="muted" preload="none">
            <source src="/media/{{ all_videonews.0.video }}" type="video/mp4">
          </video>
      {% endif %}

      {% if all_videonews.0.cap %}
      {# Если видео с video.cap.ru #}
        <video style="outline:none; width:100%; height:150px;" controls="controls" autoplay="autoplay" muted="muted">
          <source src="{{ all_videonews.0.cap }}" type="video/mp4">
        </video>
      {% endif %}

      {% if all_videonews.0.youtube %}
      {# Если видео с youtube.com #}
        <iframe style="outline:none; width:100%; height:150px;" src="https://www.youtube.com/embed/{{ all_videonews.0.youtube}}?autoplay=1&mute=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      {% endif %}

      {% comment %}
            {% if all_videonews.0.kod %}
            {# Если видео с код для вставки #}
                {{ all_videonews.0.kod|safe }}
            {% endif %}
      {% endcomment %}

      <a href="{{ all_videonews.0.get_absolute_url }}" class="banners__title font-weight-bold">Видео: {{ all_videonews.0.title }}</a>
    </div>
  </div>
{% endif %}

{# Баннеры #}
  {% for banners in all_banners %}
    {% if banners.type == 'with_image' %}
        <div class="banners__post">
          <div class="banner with_image">
            <a href="{{ banners.link }}" target="_blank">
              {% thumbnail banners.image "255" crop="center" as im %}
                <img class="banners__post-img w-100" alt="{{ banners.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
              {% endthumbnail %}
            </a>
          </div>
        </div>
    {% elif banners.type == 'with_text' %}
        <div class="banners__post with_text">
          <div class="banner">
            <a href="{{ banners.link }}" class="font-weight-bold" target="_blank">
                {{ banners.title }}
            </a>
          </div>
        </div>
    {% elif banners.type == 'with_image_text' %}
        <div class="banners__post">
          <div class="banner with_image_text">
            <a href="{{ banners.link }}" target="_blank">
                {% thumbnail banners.image "255" crop="center" as im %}
                  <img class="banners__post-img w-100" alt="{{ banners.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                {% endthumbnail %}
            </a>
            <a href="{{ banners.link }}" class="banners__title">{{ banners.title }}</a>
            {# <div class="news__created"><i class="far fa-calendar-alt"></i> {{ banners.publish }}</div> #}
          </div>
        </div>
    {% endif %}
  {% endfor %}
</div>