{% block pagination %}
  {% if page.has_other_pages %}
    <div class="row">
        <div class="col-12">
          <nav aria-label="Постраничная навигация">
            <ul class="pagination">
              {% if page.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Первая</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{page.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; </a>
                  </li>
              {% endif %}

              {% for l in  page.paginator.page_range %}
                  {% if l <= page.number|add:5 and l >= page.number|add:-5 %}
                        <li class="page-item {% if forloop.counter == page.number %}active disabled{% endif %}">
                          <a class="page-link" href="?page={{forloop.counter}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{forloop.counter}}</a>
                        </li>
                  {% endif %}
              {% endfor %}

              {% if page.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &raquo; </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Последняя ({{ num_pages }})</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </div>
  {% endif %}
{% endblock %}
{% comment %}
  {% if page.has_other_pages %}
    <ul class="pagination">
    {% if page.has_previous %}
      <li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
  {% endif %}
{% endcomment %}