{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load nbsp2space %}
{% block title %}ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}

{% block breadcrumb %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Главная</li>
          </ol>
        </nav>
{% endblock breadcrumb %}

{% block open_graph %}
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ru_RU">
  <meta property="og:title" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
  <meta property="og:description" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик', новости редакции">
  <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
  <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}{% static '/images/logo-black-512x512.png' %}">
{% endblock %}

{% block main %}
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-8 news">
                    <div class="news__badge-all-news">
                      <a href="{% url 'news:news' %}">
                        <span class="badge badge-danger">НОВОСТИ</span>
                      </a>
                    </div>

                    {% for news in all_news %}
                      {% if news.visible %}
                      <div class="news__post">

                          <div class="news__header">
                              <a class="news__header-text" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                              {% if news.type == "actuals" %}
                                  <a href="{% url 'news:actuals' %}">
                                    <span class="badge badge-info">Актуально</span>
                                  </a>
                              {% endif %}
                          </div>
                          {% if news.image %} {# Если новость имеет изображение #}
                            {% if forloop.first %} {# Если новость первая в forloop (у первой новости ширина изображения 100%) #}
                              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <a href="/media/{{ news.image }}" rel="gallery" class="swipebox" title="{{ news.title }}">
                                          {% thumbnail news.image "500x350" crop="center" as im %}
                                          {# Главное фото новости #}
                                            <img class="d-block w-100 rounded" alt="{{ news.title }}" src="{{ im.url }}" width="{{ im.width }}" loading="lazy">
                                          {% endthumbnail %}
                                        </a>
                                      </div>
                                  {% for photogallery in news.photogallery_news.all %} 
                                    {# Главное фото фотогалереи #}
                                    {% comment %}
                                          <div class="carousel-item">
                                            <a href="/media/{{ photogallery.image }}" rel="gallery" class="swipebox" title="{{ news.title }}">
                                              {% thumbnail photogallery.image "500x350" crop="center" as im %}
                                                  <img class="d-block w-100 rounded" src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery.title }}" loading="lazy">
                                              {% endthumbnail %}
                                            </a>
                                          </div>
                                    {% endcomment %}
                                    {% for imgs in photogallery.photogallery_images.all %}
                                        {# Фотографии фотогалереи #}
                                        <div class="carousel-item">
                                          <a href="/media/{{ imgs.image }}" rel="gallery" class="swipebox" title="{{ news.title }}">
                                            {% thumbnail imgs.image "500x350" crop="center" as im %}
                                                <img class="d-block w-100 rounded" src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery.title }}" loading="lazy">
                                            {% endthumbnail %}
                                          </a>
                                        </div>
                                    {% endfor %}
                                  {% endfor %}
                                      </div>
                                      {# Навигация если есть фотогалерея#}
                                      {% if news.photogallery_news.all %}
                                         <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Назад</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Вперед</span>
                                        </a>
                                      {% endif %}
                            </div>
                            {% else %}
                              {% thumbnail news.image "250" crop="center" as im %}
                                <img class="rounded float-left news__post-imgs" alt="{{ news.title }}" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                              {% endthumbnail %}
                            {% endif %} {# forloop.first #}
                          {% endif %} {# news.image #}

                          <div class="text-justify news__content">
                              <p>
                                {# Если новость имеет изображение текст уменьшаем, если нет увеличиваем. Таким образом достигается равномерность контента #}
                                {% if news.image%}
                                  {{ news.content|safe|striptags|nbsp2space|truncatewords_html:20 }}
                                {% else %}
                                  {{ news.content|safe|striptags|nbsp2space|truncatewords_html:45 }}
                                {% endif %}
                                <a class="font-weight-bold" href="{{ news.get_absolute_url }}"> подробнее</a>
                              </p>
                          </div>
                          <div class="clearfix"></div>
                          <div class="news__created"><i class="far fa-calendar-alt"></i> {{ news.publish }}</div>
                      </div>
                      {% endif %} {# news.visible #}
                    {% endfor %}
                    {% comment %}
                      <div class="all_publications"><a href="{% url 'news:news' %}" class="btn btn-danger btn-sm">Перейти к новостям</a></div>
                    {% endcomment %}
                      <div class="all_btn">
                        <a href="{% url 'news:news' %}?page=2" class="btn btn-info btn-sm btn-block">Далее</a>
                      </div>
                  </div>

                  <div class="col-4 news">
                    <div class="news__badge-all-news">
                      <a href="{% url 'news:publications' %}">
                        <span class="badge badge-danger">ПУБЛИКАЦИИ</span>
                      </a>
                    </div>
                    {% for publication in all_publications %}
                    <div class="news__post">
                      <div class="news__header">
                        <a class="news__header-text" href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
                      </div>
                      {% if publication.image %}
                        {% thumbnail publication.image "250" crop="center" as im %}
                          <img class="rounded w-100" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                        {% endthumbnail %}
                        {% comment %}
                          <div class="text-center news__content">
                            <p>
                              {{ publication.content|safe|striptags|nbsp2space|truncatewords_html:5 }} 
                              <a class="font-weight-bold" href="{{ publication.get_absolute_url }}"> тĕплĕнрех</a>
                            </p>
                          </div>
                        {% endcomment %}
                        {% else %}
                        <div class="text-center news__content">
                          <p>
                            {{ publication.content|safe|striptags|nbsp2space|truncatewords_html:20 }}
                            <a class="font-weight-bold" href="{{ publication.get_absolute_url }}"> тĕплĕнрех</a>
                          </p>
                        </div>
                      {% endif %}
                      <div class="news__created"><i class="far fa-calendar-alt"></i> {{ publication.publish }}</div>
                    </div>
                    {% endfor %}
                      <div class="all_btn">
                        <a href="{% url 'news:publications' %}?page=2" class="btn btn-info btn-sm btn-block">Малалла</a>
                      </div>
                  </div>
                </div>
                
                {# Фотогалереи #}
                <div class="row">
                  <div class="col-12">
                    <div>ФОТОГАЛЕРЕИ</div>
                    <div class="news__badge-all-news">
                      <a href="{% url 'news:photogallery' %}">
                        <span class="badge badge-danger">Все фотогалереи</span>
                      </a>
                    </div>
                    {% for photogallery in all_photogallery %}
                      <div class="news__post">
                        <div class="row news">
                          <div class="col-3">
                            {% thumbnail photogallery.image "200" crop="center" as im %}
                                <img class="rounded float-left w-100" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                            {% endthumbnail %}
                          </div>
                        <div class="col-6">
                            <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ photogallery.get_absolute_url }}">{{ photogallery.title }}</a>
                        </div>
                          
                          <div class="col-3 photogallery-post_additional">
                            <div class="news__created"><i class="far fa-calendar-alt"></i> {{ photogallery.publish }}</div>
                        </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>

                {# Видеоновости #}
                <div class="row">
                  <div class="col-12">
                    <div>ВИДЕОНОВОСТИ</div>
                    <div class="news__badge-all-news">
                      <a href="{% url 'news:videonews' %}">
                        <span class="badge badge-danger">Все видеоновости</span>
                      </a>
                    </div>
                    {% for videonews in all_videonews %}
                      <div class="news__post">
                        <div class="row news">
                          <div class="col-3">
                            {% if videonews.image %}
                              {% thumbnail videonews.image "180x120" crop="center" as im %}
                                  <a href="{{ videonews.get_absolute_url }}">
                                    <img alt="{{ videonews.title}}" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                                  </a>
                              {% endthumbnail %}
                            {% else %}
                              {% if videonews.video %}
                              {# Если видео загружено физически #}
                                  <video style="outline:none; width:100%; height:120px;" controls>
                                    <source src="/media/{{ videonews.video }}" type="video/mp4">
                                    <a href="/media/{{ videonews.video }}" download="download" target="_blank">Скачать видео</a>
                                  </video>
                              {% elif videonews.cap %}
                              {# Если видео с video.cap.ru #}
                                  <video style="outline:none; width:100%; height:120px;" controls="controls">
                                    <source src="{{ videonews.cap }}" type="video/mp4">
                                    <a href="{{ videonews.cap }}" download="download" target="_blank">Скачать видео</a>
                                  </video>
                              {% elif videonews.youtube %}
                              {# Если видео с youtube.com #}
                                  <iframe style="outline:none; width:100%; height:120px;" src="https://www.youtube.com/embed/{{ videonews.youtube}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                              {% else %}
                              {# Если ссылка на видео в контенте #}
                                  <a href="{{ videonews.get_absolute_url }}">
                                    <img alt="{{ videonews.title }}" src="{% static 'images/video_preview_icon.png' %}" width="180" height="120" loading="lazy">
                                  </a>
                              {% endif %}
                            {% endif %}
                          </div>
                        <div class="col-6">
                            <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ videonews.get_absolute_url }}">{{ videonews.title }}</a>
                        </div>
                          <div class="col-3 videonews-post_additional">
                            <div class="news__created"><i class="far fa-calendar-alt"></i> {{ videonews.publish }}</div>
                        </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
              {% include "include_banners.html" %}
            </div>
{% endblock %}
