{% extends 'base.html' %}

{% block title %} {{ news_article.title}} {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-9 news_article">
                <div class="header">
                    {{ news_article.title}}
                </div>
                {% if news_article.image %}
                    <img src="/media/{{ news_article.image }}" alt="{{ news_article.title }}">
                {% endif %}
                <p>
                    {{ news_article.content }}
                </p>
                {% if news_article.source %}
                    <div class="source_news_article">Первоисточник: {{ news_article.source }} </div>
                {% endif %}

        </div>
        <div class="col-3">
            <div class="share_news_article">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                Поделиться: <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram"></div>
            </div>
            <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
        </div>
    </div>

{% endblock %}