{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ news_actuals_publications_article.title}} {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
        <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
        <li class="breadcrumb-item" aria-current="page">{{ news_actuals_publications_article.get_type_display }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ news_actuals_publications_article.title|truncatewords:4 }}</li>
    </ol>
</nav>
{% endblock breadcrumb %}
{% block main %}
<div class="row">
    <div class="col-9 news">
        <div class="news__created"><i class="far fa-calendar-alt"></i> {{ news_actuals_publications_article.publish }}</div>
        <div class="news__header">
            <span class="news__header-text">{{ news_actuals_publications_article.title }}</span>
        </div>
        <div class="row float-left">
            <div class="col-12">
                {% if news_actuals_publications_article.image %}
                <a href="/media/{{ news_actuals_publications_article.image }}" rel="gallery" class="swipebox" title="{{ news_actuals_publications_article.title }}">
                    {% thumbnail news_actuals_publications_article.image "400" crop="center" as im %}
                    <img class="rounded news__post-imgs" alt="{{ news_actuals_publications_article.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </a>
                {% if news_actuals_publications_article.imagesign %}
                <div class="news__imagesign">
                    {{ news_actuals_publications_article.imagesign }}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {# Контент #}
        <div class="news__article-content text-justify">
            {{ news_actuals_publications_article.content|safe }}
        </div>
        {# Фотогалерея #}
        <div class="news__photo-gallery">
            {% for photogallery in news_actuals_publications_article.photogallery.all %}
            {# Главное фото фотогалереи #}
            <div class="photo float-left">
                <a href="/media/{{ photogallery.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                    {% thumbnail photogallery.image "200x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery.title }}">
                    {% endthumbnail %}
                </a>
            </div>
            {% for imgs in photogallery.photogallery_images.all %}
            {# Фотографии фотогалереи #}
            <div class="photo float-left">
                <a href="/media/{{ imgs.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                    {% thumbnail imgs.image "200x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery.title }}">
                    {% endthumbnail %}
                </a>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {# Видео #}
        {% for videogallery in news_actuals_publications_article.videogallery.all %}
            {% if videogallery.video %}
            {# Если видео загружено физически #}
                <video width="100%" height="500" controls>
                    <source src="/media/{{ videogallery.video }}" type="video/mp4">
                    {# <!-- WebM/VP8 для Firefox4, Opera, и Chrome --> #}
                    <source src="/media/{{ videogallery.video }}" type="video/webm">
                    {# <!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera --> #}
                    <source src="/media/{{ videogallery.video }}" type="video/ogg">
                    <object data="/media/{{ videogallery.video }}" type="application/x-shockwave-flash">
                    {# <!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video --> #}
                        <param name="movie" value="/media/{{ videogallery.video }}">
                    </object>
                    <br>
                    Для воспроизведения видео требуется браузер с поддержкой HTML5 или Adobe Flash
                    <br>
                    Если вы не можете просмотреть видео на этой странице, скачайте его.
                    <br>
                    <a href="/media/{{ videogallery.video }}" download="download" target="_blank">Скачать видео</a>
                </video>
            {% endif %}
            {% if videogallery.cap %}
            {# Если видео с video.cap.ru #}
                <video width="100%" height="500" controls>
                    <source src="{{ videogallery.cap }}" type="video/mp4">
                    {# <!-- WebM/VP8 для Firefox4, Opera, и Chrome --> #}
                    <source src="{{ videogallery.cap }}" type="video/webm">
                    {# <!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera --> #}
                    <source src="{{ videogallery.cap }}" type="video/ogg">
                    <object data="{{ videogallery.cap }}" type="application/x-shockwave-flash">
                    {# <!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video --> #}
                        <param name="movie" value="{{ videogallery.cap }}">
                    </object>
                    <br>
                    Для воспроизведения видео требуется браузер с поддержкой HTML5 или Adobe Flash
                    <br>
                    Если вы не можете просмотреть видео на этой странице, скачайте его.
                    <br>
                    <a href="{{ videogallery.cap }}" download="download" target="_blank">Скачать видео</a>
                </video>
            {% endif %}
            {% if videogallery.youtube %}
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ videogallery.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            {% endif %}
        {% empty %}
        {% endfor %}
        <div class="clearfix"></div>
        {% if news_actuals_publications_article.source %}
        <div class="news__source">Первоисточник: {{ news_actuals_publications_article.source }} </div>
        {% endif %}
        <div class="news_share">
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js"></script>
            Поделиться:
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,pocket,viber,whatsapp,skype,telegram"></div>
        </div>
        <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
    </div>
    {% include "include_banners.html" %}
</div>
{% endblock %}