{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ news_actuals_publications_article.title}} {% endblock %}



{% block main %}
    <div class="row">
        <div class="col-9 news">
                <div class="news__header news__header-text news__header-text_lh-24">
                    {{ news_actuals_publications_article.title}}
                </div>
                {% if news_actuals_publications_article.image %}
                      <a href="/media/{{ news_actuals_publications_article.image }}" rel="gallery" class="swipebox" title="{{ news_actuals_publications_article.title }}">
                        {% thumbnail news_actuals_publications_article.image "400" crop="center" as im %}
                          <img class="rounded float-left news__post-imgs" alt="{{ news_actuals_publications_article.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                      </a>
                {% endif %}
                
                    <div class="news__article-content text-justify">
                        {{ news_actuals_publications_article.content|safe }}
                    </div>
                <div class="news__gallery">
                    {% for photogallery in news_actuals_publications_article.photogallery.all %}
                    {# Главное фото фотогалереи #}
                        <a href="/media/{{ photogallery.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                            {% thumbnail photogallery.image "200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photogallery.title }}">
                            {% endthumbnail %}
                        </a>
                        {% for imgs in photogallery.news_images.all %}
                        {# Фотографии фотогалереи #}
                            <a href="/media/{{ imgs.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                                {% thumbnail imgs.image "200" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photogallery.title }}">
                                {% endthumbnail %}
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
{% comment %}
                    <a href="/media/{{ photogallery_article.image}}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                        {% thumbnail photogallery_article.image "150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </a>
                    <!-- <img src="/media/{{ photogallery_article.image}}" alt="{{ photogallery.title }}"> -->

                    {% for images in photogallery_article.news_images.all %}
                        <a href="/media/{{ images.image }}" class="swipebox" rel="gallery" title="{{ photogallery_article.title}}">
                            {% thumbnail images.image "150" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            <!-- <img src="/media/{{ images.image }}" alt="{{ photogallery.title }}"> -->
                        </a>
                    {% endfor %}
{% endcomment %}

                {% if news_actuals_publications_article.source %}
                    <div class="news__source">Первоисточник: {{ news_actuals_publications_article.source }} </div>
                {% endif %}
        </div>
        <div class="col-3">
            <div class="news_share">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                Поделиться: <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram"></div>
            </div>
            <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
        </div>
    </div>

{% endblock %}