
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Фотогалереи {% if page %}(страница - {{ page }}){% endif %} / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item active" aria-current="page">Фотогалереи</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Фотогалереи">
    <meta property="og:description" content="Фотогалереи ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_photogallery.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_photogallery.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
            <div class="row">
              <div class="col-9">
                {% for photogallery in all_photogallery %}
                  <div class="news__post">
                    <div class="row news">
                      <div class="col-3">
                        {% thumbnail photogallery.image "200" crop="center" as im %}
                            <img class="rounded float-left w-100" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                        {% endthumbnail %}
                      </div>
                      <div class="col-6">
                        <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ photogallery.get_absolute_url }}">{{ photogallery.title }}</a>
                      </div>
                      <div class="col-3 photogallery-post_additional">
                        <div class="news__created">{{ photogallery.publish }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% include "include_paginations.html" with page=all_photogallery %}
              </div>

            {% include "include_banners.html" %}
            </div>
{% endblock %}