{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ photogallery_article.title}} - фотогалерея {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-9 news">
            <div class="news__header">
                  <span class="news__header-text">{{ photogallery_article.title}}</span>
            </div>
            {# Главное фото фотогалереи #}
            <a href="/media/{{ photogallery_article.image}}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                {% thumbnail photogallery_article.image "200" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>

            {% for images in photogallery_article.news_images.all %}
            {# Фотографии фотогалереи #}
                <a href="/media/{{ images.image }}" class="swipebox" rel="gallery" title="{{ photogallery_article.title}}">
                    {% thumbnail images.image "200" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </a>
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="news_share">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                Поделиться: <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram"></div>
            </div>
            <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
        </div>
    </div>

{% endblock %}