{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ photogallery_article.title}} - фотогалерея {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-9">
                <div class="header">
                    {{ photogallery_article.title}}
                </div>
                <p>
                    <a href="/media/{{ photogallery_article.image}}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                        {% thumbnail photogallery_article.image "150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </a>
                    <!-- <img src="/media/{{ photogallery_article.image}}" alt="{{ photogallery.title }}"> -->

                    {% for images in photogallery_article.news_images.all %}
                    <a href="/media/{{ images.image }}" class="swipebox" rel="gallery" title="{{ photogallery_article.title}}">
                        {% thumbnail images.image "150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        <!-- <img src="/media/{{ images.image }}" alt="{{ photogallery.title }}"> -->
                    </a>
                    {% endfor %}
                </p>
                {% if news_article.source %}
                    <div class="source_news_article">Первоисточник: {{ news_article.source }} </div>
                {% endif %}
        </div>
        <div class="col-3">
            <div class="share_news_article">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                Поделиться: <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram"></div>
            </div>
            <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
        </div>
    </div>

{% endblock %}