{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ photogallery_article.title}} - фотогалерея {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item" aria-current="page">Фотогалереи</li>
    <li class="breadcrumb-item active" aria-current="page">{{ photogallery_article.title|truncatewords:4 }}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="{{ photogallery_article.title }}">
    <meta property="og:description" content="{{ photogallery_article.title }}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if photogallery_article.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ photogallery_article.image }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-9 news">
        <div class="news__created"><i class="far fa-calendar-alt"></i> {{ photogallery_article.publish }}</div>
        <div class="news__header">
            <span class="news__header-text">{{ photogallery_article.title}}</span>
        </div>
        {% for imgs in photogallery_article.get_subfeature_photos %}
        {# Фотографии фотогалереи #}
        <div class="photo float-left">
            <a href="/media/{{ imgs.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                {% thumbnail imgs.image "200x150" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery_article.title }}">
                {% endthumbnail %}
            </a>
        </div>
        {% endfor %}
        {# Главное фото фотогалереи #}
        {% comment %}
            <div class="photo float-left">
                <a href="/media/{{ photogallery_article.image }}" rel="gallery" class="swipebox" title="{{ photogallery_article.title}}">
                    {% thumbnail photogallery_article.image "200x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ photogallery.title }}">
                    {% endthumbnail %}
                </a>
            </div>
        {% endcomment %}
        <div class="clearfix"></div>

        {% if photogallery_article.content %}
            <div>{{ photogallery_article.content|safe }}</div>
        {% endif %}

        {% if photogallery_article.source %}
        <div class="news__source">Первоисточник: {{ photogallery_article.source }} </div>
        {% endif %}
        <div class="news_share">
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js"></script>
            Поделиться:
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,pocket,viber,whatsapp,skype,telegram"></div>
        </div>
        <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
    </div>
    {% include "include_banners.html" %}
</div>
{% endblock %}