
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Фотогалереи / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item active" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item active" aria-current="page">Фотогалереи</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block main %}
            <div class="row">
              <div class="col-9">
                {% for photogallery in all_photogallery %}
                <div class="news__post">
                  <div class="row news">
                    <div class="col-3">
                      {% thumbnail photogallery.image "200" crop="center" as im %}
                          <img class="rounded float-left w-100" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}">
                      {% endthumbnail %}
                    </div>
                  <div class="col-6">
                      <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ photogallery.get_absolute_url }}">{{ photogallery.title }}</a>
                  </div>
                    
                    <div class="col-3 photogallery-post_additional">
                      <div class="news__created">{{ photogallery.publish }}</div>
                  </div>
                  </div>
                </div>
                {% endfor %}
                {% include "include_paginations.html" with page=all_photogallery %}
              </div>

            {% include "include_banners.html" %}
{% endblock %}