{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Поиск {{ query }} {% if page %}(страница - {{ page }}){% endif %} / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Поиск</li>
    <li class="breadcrumb-item active" aria-current="page">{{ query }}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="{{ query }}">
    <meta property="og:description" content="{{ query }} ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_results.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_results.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
            <div class="row">
              <div class="col-9 news">
                {% if all_results %}
                Вы искали "{{ query }}", вот результаты...
                      {% for result in all_results %}
                      <div class="news__post">
                          <div class="news__header">
                              <a class="news__header-text" href="{{ result.get_absolute_url}}">{{ result.title}}</a>
                          </div>
                          {% if result.image %}
                          {# Если есть изображение то выводим его и текст толжен быть больше условно 100 #}
                            {% thumbnail result.image "320" crop="center" as im %}
                                <img class="rounded float-left news__post-imgs" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                            {% endthumbnail %}
                            <div class="text-justify news__content ">
                                {{ result.content|truncatewords_html:55|safe }}
                                <a class="font-weight-bold" href="{{ result.get_absolute_url}}"> подробнее</a>
                            </div>
                          {% else %}
                          {# Если нет изображения то размер текста делаем меньше #}
                            <div class="text-justify news__content">
                                {{ result.content|truncatewords_html:50|safe }}
                                <a class="font-weight-bold" href="{{ result.get_absolute_url}}"> подробнее</a>
                            </div>
                          {% endif %}
                          <div class="clearfix"></div>
                          <div class="news__created"><i class="far fa-calendar-alt"></i> {{ result.publish }}</div>
                      </div>
                      {% endfor %}
                      {% include "include_paginations.html" with page=all_results %}
                {% else %}
                По вашему запросу "{{ query }}" ничего не найдено.
                {% endif %}
              </div>
              {% include "include_banners.html" %}
            </div>
{% endblock %}