
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Фотогалереи / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item active" aria-current="page">Видеогалереи</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block main %}
            <div class="row">
              <div class="col-9">
                {% for videogallery in all_videogallery %}
                  <div class="news__post">
                    <div class="row news">
                      <div class="col-3">
                        {% if videogallery.video %}
                        {# Если видео загружено физически #}
                            <video width="100%" height="120" controls>
                              <source src="/media/{{ videogallery.video }}" type="video/mp4">
                              <a href="/media/{{ videogallery.video }}" download="download" target="_blank">Скачать видео</a>
                            </video>
                        {% endif %}

                        {% if videogallery.cap %}
                        {# Если видео с video.cap.ru #}
                          <video width="100%" height="120" controls="controls">
                            <source src="{{ videogallery.cap }}" type="video/mp4">
                            <a href="{{ videogallery.cap }}" download="download" target="_blank">Скачать видео</a>
                          </video>
                        {% endif %}

                        {% if videogallery.youtube %}
                          <iframe width="100%" height="120" src="https://www.youtube.com/embed/{{ videogallery.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        {% endif %}
                      </div>
                      <div class="col-6">
                        <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ videogallery.get_absolute_url }}">{{ videogallery.title }}</a>
                      </div>
                      <div class="col-3 videogallery-post_additional">
                        <div class="news__created">{{ videogallery.publish }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% include "include_paginations.html" %}
              </div>

            {% include "include_banners.html" %}
{% endblock %}