{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ videonews_article.title }} - видеоновости{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item" aria-current="page">Видеоновости</li>
    <li class="breadcrumb-item active" aria-current="page">{{ videonews_article.title|truncatewords:4 }}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="{{ videonews_article.title }}">
    <meta property="og:description" content="{{ videonews_article.title }}">
    <meta property="og:url" content="http://{{ request.site.name }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if videonews_article.image %}
        <meta property="og:image" content="http://{{ request.site.name }}/media/{{ videonews_article.image }}">
    {% else %}
        <meta property="og:image" content="http://{{ request.site.name }}{% static 'images/video_preview_icon.png' %}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-9 news">
        <div class="news__created"><i class="far fa-calendar-alt"></i> {{ videonews_article.publish }} </div>
        <div class="news__header">
            <span class="news__header-text">{{ videonews_article.title }}</span>
        </div>

        {% if videonews_article.video %}
        {# Если видео загружено физически #}
            <video style="outline:none; width:100%; height:450px;" controls>
                <source src="/media/{{ videonews_article.video }}" type="video/mp4">
                <br>
                Для воспроизведения видео требуется браузер с поддержкой HTML5 или Adobe Flash
                <br>
                Если вы не можете просмотреть видео на этой странице, скачайте его.
                <br>
                <a href="/media/{{ videonews_article.video }}" download="download" target="_blank">Скачать видео</a>
            </video>
        {% endif %}

        {% if videonews_article.cap %}
        {# Если видео с video.cap.ru #}
            <video style="outline:none; width:100%; height:450px;" controls>
                <source src="{{ videonews_article.cap }}" type="video/mp4">
                <br>
                Для воспроизведения видео требуется браузер с поддержкой HTML5 или Adobe Flash
                <br>
                Если вы не можете просмотреть видео на этой странице, скачайте его.
                <br>
                <a href="{{ videonews_article.cap }}" download="download" target="_blank">Скачать видео</a>
            </video>
        {% endif %}

        {% if videonews_article.youtube %}
        {# Если видео с youtube.com #}
            <iframe style="outline:none; width:100%; height:450px;" src="https://www.youtube.com/embed/{{ videonews_article.youtube}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        {% endif %}

        {% if videonews_article.kod %}
            <div class="text-center">{{ videonews_article.kod|safe }}</div>
        {% endif %}

        {% if videonews_article.content %}
            <div>{{ videonews_article.content|safe }}</div>
        {% endif %}

        {% if videonews_article.source %}
        <div class="news__source">Первоисточник: {{ videonews_article.source }} </div>
        {% endif %}
        <div class="news_share">
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js"></script>
            Поделиться:
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,pocket,viber,whatsapp,skype,telegram"></div>
        </div>
        <a href="#" class="btn btn-danger" onclick="window.print()">Распечатать</a>
    </div>
    {% include "include_banners.html" %}
</div>
{% endblock %}