
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Видеоновости / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Пресс-центр</li>
    <li class="breadcrumb-item active" aria-current="page">Видеоновости</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block main %}
            <div class="row">
              <div class="col-9">
                {% for videonews in all_videonews %}
                  <div class="news__post">
                    <div class="row news">
                      <div class="col-3">
                        {% if videonews.image %}
                          {% thumbnail videonews.image "180x120" crop="center" as im %}
                              <a href="{{ videonews.get_absolute_url }}">
                                <img alt="{{ videonews.title}}" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}">
                              </a>
                          {% endthumbnail %}
                        {% else %}
                          {% if videonews.video %}
                          {# Если видео загружено физически #}
                              <video style="outline:none; width:100%; height:120px;" controls>
                                <source src="/media/{{ videonews.video }}" type="video/mp4">
                                <a href="/media/{{ videonews.video }}" download="download" target="_blank">Скачать видео</a>
                                Your browser does not support HTML5 video.
                              </video>
                          {% elif videonews.cap %}
                          {# Если видео с cap.ru #}
                              <video style="outline:none; width:100%; height:120px;" controls>
                                <source src="{{ videonews.cap }}" type="video/mp4">
                                <a href="{{ videonews.cap }}" download="download" target="_blank">Скачать видео</a>
                                Your browser does not support HTML5 video.
                              </video>
                          {% elif videonews.youtube %}
                          {# Если видео с youtube.com #}
                              <iframe style="outline:none; width:100%; height:120px;" src="https://www.youtube.com/embed/{{ videonews.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                          {% else %}
                          {# Если ссылка на видео в контенте #}
                              <a href="{{ videonews.get_absolute_url }}">
                                <img alt="{{ videonews.title }}" src="{% static 'images/video_preview_icon.png' %}" width="183" height="120">
                              </a>
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="col-6">
                        <a class="news__header-text news__header-text_small news__header-text_va-bottom" href="{{ videonews.get_absolute_url }}">{{ videonews.title }}</a>
                      </div>
                      <div class="col-3 videonews-post_additional">
                        <div class="news__created">{{ videonews.publish }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% include "include_paginations.html" with page=all_videonews %}
              </div>


            {% include "include_banners.html" %}
          </div>
{% endblock %}