asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
Django==4.0.4
django-tinymce==3.4.0
idna==3.3
Pillow==9.0.1
pkg_resources==0.0.0
psycopg==3.0.14
psycopg2==2.9.3
pytz==2022.1
requests==2.27.1
sorl-thumbnail==12.8.0
sqlparse==0.4.2
urllib3==1.26.9
