{% extends 'base.html' %}
{% block title %}Реклама / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item active" aria-current="page">Реклама</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Реклама на ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Реклама в редакции, реклама в газету">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_advertising.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_advertising.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row about">
{% comment %}
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
{% endcomment %}
    <div class="col-12 about__content">
        {% for advertising in all_advertising %}
            <div class="news__post">
                <div class="news__header">
                      <span class="news__header-text">{{ advertising.title }}</span>
                </div>
                <div class="news__article-content">{{ advertising.content|safe }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}