{% extends 'base.html' %}
{% block title %}Реклама / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}

{% block main %}
<div class="row about">
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
    <div class="col-9 about__content">
        {% for advertising in all_advertising %}
            <div class="advertising-details__post">{{ advertising.post }}</div>
            <div class="advertising-details__post">{{ advertising.content|safe }}<div>
        {% endfor %}
    </div>
</div>
{% endblock %}