{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Объявления {% if page %}(страница - {{ page }}){% endif %} / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
        <li class="breadcrumb-item active" aria-current="page">Объявления</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Объявления на ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Объявления редакции, Объявления в газету">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_announcing.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_announcing.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row about">
    {% comment %}
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
    {% endcomment %}
    <div class="col-12 about__content">
        {% for announcing in all_announcing %}
            {% if announcing.ontop %}
                <div class="news__post">
                    <div class="news__header">
                        <span class="news__header-text">{{ announcing.title }}</span>
                    </div>
                    {% if announcing.image %}
                        {% thumbnail announcing.image "300" crop="center" as im %}
                            <img class="rounded float-left news__post-imgs" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                        {% endthumbnail %}
                    {% endif %}
                    <div class="news__article-content">{{ announcing.content|safe }}</div>
                    {% if announcing.source %}
                        <div class="news__source">Первоисточник: {{ announcing.source }} </div>
                    {% endif %}
                    <div class="news__created"><i class="far fa-calendar-alt"></i> {{ announcing.publish }}</div>
                </div>
            {% endif %}
        {% endfor %}
        {% for announcing in all_announcing %}
            {% if announcing.ontop is not True %}
                <div class="news__post">
                    <div class="news__header">
                        <span class="news__header-text">{{ announcing.title }}</span>
                    </div>
                    {% if announcing.image %}
                        {% thumbnail announcing.image "300" crop="center" as im %}
                            <img class="rounded float-left news__post-imgs" alt="" src="{{ im.url }}" data-holder-rendered="true" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                        {% endthumbnail %}
                    {% endif %}
                    <div class="news__article-content">{{ announcing.content|safe }}</div>
                    {% if announcing.source %}
                        <div class="news__source">Первоисточник: {{ announcing.source }} </div>
                    {% endif %}
                    <div class="news__created"><i class="far fa-calendar-alt"></i> {{ announcing.publish }}</div>
                </div>
            {% endif %}
        {% endfor %}
        {# из myapps.news.templates #}
        {% include "include_paginations.html" with page=all_announcing %}
    </div>
</div>
{% endblock %}