{% extends 'base.html' %}
{% block title %}Контакты / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item active" aria-current="page">Контакты</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Контакты ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Контакты редакции, контакты газеты">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_contacts.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_contacts.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row about">
        <div class="col-12 about__content">
            {{ all_contacts.items }}
            {% for contacts in all_contacts %}
                <div class="about__title">{{ contacts.title }}</div>
                <div class="contacts-details__post">{{ contacts.content|safe }}</div>
                {% if contacts.map %}
                    {{ contacts.map|safe }}
                {% endif %}
            {% endfor %}
    {% comment %}
        Ссылка на карту (конструктор)
        https://yandex.ru/maps/?um=constructor%3A98308fdfb6d76ece12d73780c3ab9e45d1162b227971510aa97ba97a190135cc&source=constructorLink
    {% endcomment %}
        </div>
    </div>
{% endblock %}