{% extends 'base.html' %}
{% block title %}Контакты / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}

{% block main %}
<div class="row about">
{% comment %}
        <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
{% endcomment %}
    <div class="col-12 about__content">
        {% for contacts in all_contacts %}
            <div class="about__title">{{ contacts.title }}</div>
            <div class="contacts-details__post">{{ contacts.content|safe }}<div>
        {% endfor %}
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A98308fdfb6d76ece12d73780c3ab9e45d1162b227971510aa97ba97a190135cc&amp;width=100%25&amp;height=583&amp;lang=ru_RU&amp;scroll=true"></script>
{% comment %}
    Ссылка на карту (конструктор)
    https://yandex.ru/maps/?um=constructor%3A98308fdfb6d76ece12d73780c3ab9e45d1162b227971510aa97ba97a190135cc&source=constructorLink
{% endcomment %}


    </div>
</div>
{% endblock %}