{% extends 'base.html' %}
{% block title %}Документы / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Документы</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block main %}
<div class="row about">
    {% include "include_about_menu.html" %}
    <div class="col-6 about__content">
        {% for documents in all_documents %}
            <div class="documents-details__name">{{ documents.name }} <a href="/{{ documents.file }}" download>cкачать</a></div>
        {% endfor %}
    </div>
    {% include "include_banners.html" %}
</div>
{% endblock %}
