{% extends 'base.html' %}
{% block title %}Документы / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}

{% block main %}
<div class="row about">
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
    <div class="col-9 about__content">
        {% for documents in all_documents %}
            <div class="documents-details__name">{{ documents.name }} <a href="/{{ documents.file }}" download>cкачать</a></div>
            
        {% endfor %}
    </div>
</div>
{% endblock %}
