        <ul>
            <li><a href="{% url 'about:structure' %}">Структура</li></a>
            <li><a href="{% url 'about:vacancies' %}">Вакансии</li></a>
            <li><a href="{% url 'about:documents' %}">Документы</li></a>
            <li><a href="{% url 'about:subscribe' %}">Подписка</li></a>
            <li><a href="{% url 'about:advertising' %}">Реклама</li></a>
            <li><a href="{% url 'about:announcing' %}">Объявления</li></a>
            <li><a href="{% url 'about:contacts' %}">Контакты</li></a>
            <li><a href="">Редакция газеты: вчера и сегодня</li></a>
        </ul>