<div class="list-group list-group-flush">
  <a href="{% url 'about:structure' %}" class="list-group-item list-group-item-action">Структура</a>
  <a href="{% url 'about:vacancies' %}" class="list-group-item list-group-item-action">Вакансии</a>
  <a href="{% url 'about:documents' %}" class="list-group-item list-group-item-action">Документы</a>
  <a href="{% url 'about:subscribe' %}" class="list-group-item list-group-item-action">Подписка</a>
  <a href="{% url 'about:advertising' %}" class="list-group-item list-group-item-action">Реклама</a>
  <a href="{% url 'about:announcing' %}" class="list-group-item list-group-item-action">Объявления</a>
  <a href="{% url 'about:contacts' %}" class="list-group-item list-group-item-action">Контакты</a>
  <a href="#" class="list-group-item list-group-item-action disabled">История газеты: вчера и сегодня</a>
</div>
