<div class="col-3 about__menu">
    <div class="list-group list-group-flush">
      <a href="{% url 'about:structure' %}" class="list-group-item list-group-item-action">Структура</a>
      <a href="{% url 'about:vacancies' %}" class="list-group-item list-group-item-action">Вакансии</a>
      <a href="{% url 'about:documents' %}" class="list-group-item list-group-item-action">Документы</a>
      <a href="{% url 'about:projects' %}" class="list-group-item list-group-item-action">Проекты</a>
      <a href="{% url 'about:history' %}" class="list-group-item list-group-item-action">История редакции</a>
    </div>
</div>
