{% extends 'base.html' %}
{% block title %}Проекты / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Проекты</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Проекты ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Проекты редакции, Проекты газеты">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_projects.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_projects.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row about">
    {% include "include_about_menu.html" %}
    <div class="col-6 about__content">
            <div class="accordion" id="accordionDocument">
                {% for projects in all_projects %}
                  <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                          {{ projects.title }}
                        </button>
                      </h2>
                    </div>

                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionDocument">
                      <div class="card-body">
                        {% for file in projects.get_subfeature_docs %}
                            <div class="projects-details__filename">
                                <a href="/media/{{ file.file }}" target="_blank">{{ file.filename }}</a> <span class="text-muted font-italic small">({{ file.file.size|filesizeformat }})</span>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
    </div>
    {% include "include_banners.html" %}
</div>
{% endblock %}
