{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Структура / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик" {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Структура</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Структура ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Структура редакции, работники газеты">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_employees.0.photo %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_employees.0.photo }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row about">
    {% include "include_about_menu.html" %}
    <div class="col-9 about__content">
        {% for employee in all_employees %}
            <div class="row employee">
                <div class="col-3 employee-photo">
                    {% thumbnail employee.photo "140" crop="center" as im %}
                      <img class="w-100 rounded-circle" alt="{{ employee.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" loading="lazy">
                    {% endthumbnail %}
                </div>
                <div class="col-8 employee-details">
                    <div class="employee__detail font-weight-bold">{{ employee.name }}</div>
                    <div class="employee-detail"><i class="far fa-address-card"></i> {{ employee.post }}</div>
                    <div class="employee-detail"><i class="fas fa-phone"></i> <a href="tel:{{ employee.phone|cut:" "|cut:")"|cut:"("|cut:"-"}}">{{ employee.phone }}</a></div>
                    {% if employee.email %}
                        <div class="employee-detail"><i class="fas fa-at"></i> <a href="mailto:{{ employee.email }}">{{ employee.email }}</a></div>

                    {% endif %}
                    {% if employee.education %}
                        <div class="employee-detail"><i class="fas fa-university"></i> {{ employee.education }}</div>
                    {% endif %}
                    {% if employee.bio %}
                        <div class="employee-detail"><i class="fas fa-info-circle"></i> {{ employee.bio }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
