{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Структура / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик" {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Структура</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block main %}
<div class="row about">
    {% include "include_about_menu.html" %}
    <div class="col-9 about__content">
        {% for employee in all_employees %}
            <div class="row employee">
                <div class="col-3 employee-photo">
                    {% thumbnail employee.photo "140" crop="center" as im %}
                      <img class="w-100" alt="{{ employee.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
                <div class="col-8 employee-details">
                    <div class="employee__detail font-weight-bold">{{ employee.name }}</div>
                    <div class="employee-detail"><i class="far fa-address-card"></i> {{ employee.post }}</div>
                    <div class="employee-detail"><i class="fas fa-phone"></i> <a href="tel:{{ employee.phone }}">{{ employee.phone }}</a></div>
                    {% if employee.email %}
                        <div class="employee-detail"><i class="fas fa-at"></i> <a href="mailto:{{ employee.email }}">{{ employee.email }}</a></div>

                    {% endif %}
                    {% if employee.education %}
                        <div class="employee-detail"><i class="fas fa-university"></i> {{ employee.education }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
