{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Структура / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик" {% endblock %}

{% block main %}
<div class="row about">
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
    <div class="col-9 about__content">
        {% for employee in all_employees %}
            <div class="row employee">
                <div class="col-3 employee-photo">
                        {% thumbnail employee.photo "140" crop="center" as im %}
                          <img class="w-100 rounded-circle" alt="{{ employee.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        {% comment %}
                            <img src="/media/{{ employee.photo }}">
                        {% endcomment %}
                </div>
                <div class="col-8 employee-details">
                    <div class="employee-details__name">{{ employee.name }}</div>
                    <div class="employee-details__post">{{ employee.post }}</div>
                    <div class="employee-details__phone">{{ employee.phone }}</div>
                    {% if employee.email %}
                        <div class="employee-details__email">{{ employee.email }}</div>
                    {% endif %}
                    {% if employee.education %}
                        <div class="employee-details__education">{{ employee.education }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
