{% extends 'base.html' %}
{% block title %}Вакансии / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Вакансии</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block open_graph %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Вакансии ЯЛ ӖҪЧЕНӖ">
    <meta property="og:description" content="Вакансии редакции, вакансии газеты">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}">
    <meta property="og:site_name" content="ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик'">
    {% if all_vacancies.0.image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.name }}/media/{{ all_vacancies.0.image }}">
    {% endif %}
{% endblock %}

{% block main %}
<div class="row about">
    {% include "include_about_menu.html" %}
    <div class="col-6 about__content">
            <div class="accordion" id="accordionVacancy">
                {% for vacancy in all_vacancies %}
                  <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                          {{ vacancy.post }}
                        </button>
                      </h2>
                    </div>

                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionVacancy">
                      <div class="card-body">
                        {{ vacancy.content|safe }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
    </div>
    {# из myapps.news.templates #}
    {% include "include_banners.html" %}
</div>
{% endblock %}