{% extends 'base.html' %}
{% block title %}Вакансии / ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fas fa-home"></i> Главная</li>
    <li class="breadcrumb-item" aria-current="page">Редакция</li>
    <li class="breadcrumb-item active" aria-current="page">Вакансии</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block main %}
<div class="row about">
    <div class="col-3 about__menu">
        {% include "include_about_menu.html" %}
    </div>
    <div class="col-9 about__content">
        {% for vacancy in all_vacancies %}
            <div class="vacancy-details__post">{{ vacancy.post }}</div>
            <div class="vacancy-details__post">{{ vacancy.content|safe }}<div>
        {% endfor %}
    </div>
</div>
{% endblock %}
