body {
    min-width: 1110px;
}

.container {
    background: #F3F3F0;
    box-shadow: 0 0 20px 0px black;
    border-radius: 4px;
}

.header {

}

.logoexpand {
    font-size: 13px;
    /* font-family: Roboto; */
    text-align: center;
    font-style: italic;
}
.logo {
    text-align: center;
}
.logo__text {
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    line-height: 1.3;
    color: #424242;
}
.logo__text:hover {
    color: #191919;
}
.header-center__img {
    width: 100%;
    height: auto;
}

/*.gismeteo {
    align-items: center!important;
    width:100%;
    height:auto;
}*/
.gsInformer {
    width:100%;
    height:auto;
}

.since {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}
.since__chuv {
    font-weight: bold;
    display: block;
    font-size: 12px;
}
.since__rus {font-size: 10px;}

.social {
    text-align: center;
}
.social a:hover {
    text-decoration: none;
}
/*.subscribe__btn {
    color: #fff;
    background-color: #1a736c;
    border-color: #1a736c;
    font-size: 12px;
    border-radius: 0px;
    text-transform: uppercase;
}
.subscribe__btn:hover {
    color: #fff;
    background-color: #1f8078;
    border-color: #1f8078;
}
*/
.today_date {
    font-size: 10px;
    text-align: right;
    margin-bottom: 1px;
}

.menu {
    background-color: #1a736c;
    text-transform: uppercase;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #1a736c;
}

.search {
    width: max-content;
}
.search__input {
    font-size: 12px;
}
.search__button {
    font-size: 12px;
}

.breadcrumb {
    /*    font-size: 10px;
    margin-bottom: 5px;*/
    padding: 10px;
    font-size: 12px;
    margin-bottom: 5px;
    }

.news {
    border-right: 1px solid #a7a7a7;
    margin-bottom: 15px;
}
.news__badge-all-news {
    text-align: right;
    margin-bottom: 5px;
}
.news__post {
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 20px;
}
.news__header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.news__header-text {
    font-size: 22px;
    font-weight: bold;
    font-family: unset;
    line-height: 30px;
    color: rgb(33, 37, 41);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 31px;
}
.news__header-text:hover {
    color: rgb(33, 37, 41);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.news__header-text_small {
    font-size: 17px;
}
.news__header-text_va-bottom {
    vertical-align: bottom;
}
/*.news__first-news-post-img {
    width: 100%;
    height: auto;
}*/
.news__post-imgs {
    /* width: 55%; */
    /* height: auto; */
    margin-right: 10px;
}
.news__content{
/*    margin-top: 10px;*/
}
.news__content, .news__content * {
    font-family:Georgia!important;
    font-size: 16px!important;
    margin-bottom: 0px!important;
    font-style: normal;
    font-weight: 100;
}
.news__imagesign {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    color: #525252;
}
.news__article-content, .news__article-content * {
    font-family:Georgia!important;
    font-size: 16px!important;
    background-color: inherit;
    border-color: #afafaf;
    /* text-indent: 1.5em; */
}

.news__article-content img, .news__content img {
    margin-bottom: 15px;
    max-width: 100%;
}

.news__article-content table, tr, td {
    border: 1px solid;
}

.news__created {
    font-size: 12px;
    color: #5a5a5a;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.news__photo-gallery {
    margin-bottom: 15px;
    margin-top: 15px;
}
.photo {
    margin-right: 5px;
    margin-bottom: 15px;
}
.news__source {
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}
.news_share {
    margin-bottom: 10px;
}
.news_image {}

a.page-link {
    color: #424242;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1a736c;
    border-color: #1a736c;
}

.all_btn {
    margin-top: -15px;
}

.banners {
    margin-bottom: 15px;
}
.banners a {
    color: #212529;
}
.banner {
    margin-bottom: 10px;
}
.banners__post {
    margin-bottom: 10px;
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
}
.banners__post-img {
}
.banners__title {
    font-size: 14px;
    /* font-weight: bold; */
}
.with_image_text {
    line-height: 1.3;
}

/*About*/
.menu {

}
a.list-group-item.list-group-item-action.active {
    background-color: #1a736c!important;
    border-color: #1a736c;
}
.about {

}

.about__menu{

}
.about__title {
    font-weight: bold;
    text-align: center;
}
.about__content{}





.employee {
    margin-bottom:15px;
}
.employee-photo {
    
}
.employee-details {
    border-bottom: darkgrey 1px solid;
}

.footer {
    margin-top: 20px;
    background: #0f6d66;
    color: #d6d6d6;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* font-style: italic; */
}
.footer a {
    display: inline-block;
    color: #d6d6d6;
}
.footer-left {
}

.footer-center {
}

.metrika {
    margin-bottom: 10px;
}

.footer-right {
}


video {
    background-color: black;
}