body {

}

.container {
    background: #F3F3F0;
    box-shadow: 0 0 20px 0px black;
    border-radius: 4px;
}

.logoexpand {
    font-size: 16px;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
}
.logo {
    text-align: center;
}
.logo__text {
    font-size: 79px;
    font-weight: 900;
    font-style: italic;
    line-height: 1.3;
    color: #424242;
}
.logo__text:hover {
    color: #191919;
}
.since {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}
.since__since-chuv {
    font-weight: bold;
    display: block;
    font-size: 12px;
}
.since__since-rus {
}
/*.gismeteo {
    align-items: center!important;
    width:100%;
    height:auto;
}*/
.gsInformer {
    width:100%;
    height:auto;
}
.today_data_time {
    font-size: 12px;
    text-align: right;
    text-align: center;
}
.subscribe {
    text-align: center;
    margin-bottom: 10px;
}
.subscribe__btn {
    color: #fff;
    background-color: #1a736c;
    border-color: #1a736c;
    /* width: 66%; */
    font-size: 12px;
}
.subscribe__btn:hover {
    color: #fff;
    background-color: #1f8078;
    border-color: #1f8078;
}
.subscribe__vk {
    display: inline-block;
}
/*.subscribe__vk-icon {

}*/

.menu {
    background-color: #1a736c;
    /*margin-bottom: 10px;*/
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #1a736c;
}

.search {
    width: max-content;
}
.search__input {
    font-size: 12px;
}
.search__button {
    font-size: 12px;
}

.breadcrumb {
    /*    font-size: 10px;
    margin-bottom: 5px;*/
    padding: 10px;
    font-size: 12px;
    }

.news {
    border-right: 1px solid #a7a7a7;
    margin-bottom: 15px;
}
.news__badge-all-news {
    text-align: right;
}
.news__post {
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 10px;
}
.news__header {
    text-align: center;
    margin-bottom: 5px; 
}
.news__header-text {
    font-size: 22px;
    font-weight: bold;
    font-family: unset;
    line-height: 0px;
    color: rgb(33, 37, 41);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.news__header-text:hover {
    color: rgb(33, 37, 41);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.news__header-text_small {
    font-size: 18px;
}
.news__header-text_va-bottom {
    vertical-align: bottom;
}
.news__header-text_lh-24 {
    line-height: 24px;
}
/*.news__first-news-post-img {
    width: 100%;
    height: auto;
}*/
.news__post-imgs {
    /* width: 55%; */
    /* height: auto; */
    margin-right: 10px;
}
.news__content{
/*    margin-top: 10px;*/
}
.news__content, .news__content * {
    font-family:Georgia!important;
    font-size: 16px!important;
    margin-bottom: 0px!important;
    font-style: normal;
    font-weight: 100;
}
.news__content_justify{
    text-align: justify!important;
}
/*.news__content_center{
    text-align: center!important;
}*/
.news__created {
    font-size: 12px;
    color: #5a5a5a;
    text-align: right;
    margin-top: 5px;
}
.news__gallery {
    margin-bottom: 15px;
    margin-top: 15px;
}
.news__source {
    font-size: 12px;
    font-style: italic;
}
.news_share {
    margin-bottom: 10px;
}

.banners {

}
.banners__post {
    margin-bottom: 5px;
    /*border-bottom: 1px solid #a7a7a7;*/
    text-align: center;
}
.banners__post-img {
    width: 100%;
    height: fit-content;
}

/*About*/
.menu {

}
a.list-group-item.list-group-item-action.active {
    background-color: #1a736c!important;
    border-color: #1a736c;
}
.about {

}

.about__menu{

}
.about__content{}
.employee{
    margin-bottom:15px;

}
.employee-photo{
    
}
.employee-details{
    border-bottom: darkgrey 1px solid;
}
.employee-details__name{
    font-weight:700;
}
.employee-details__post{}
.employee-details__phone{}
.employee-details__email{}
.employee-details__education{}




.footer {
    margin-top: 20px;
    background: #0f6d66;
    color: #d6d6d6;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
}
.footer-left {
}

.footer-center {
}

.footer-right {
}


/*0f6d66*/