body {

   }

.logoexpand {
    font-size: 16px;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
}

.container {
    background: #F3F3F0;
    box-shadow: 0 0 20px 0px black;
    border-radius: 4px;
}

.logo {
    text-align: center;
}

.logo a {
    font-size: 79px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.3;
    color: #424242;
}

.logo a:hover {
    color: #191919;
}


.since {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.since_chuv {
    font-weight: bold;
    display: block;
    font-size: 12px;
}

/*.gismeteo {
    align-items: center!important;
    width:100%;
    height:auto;
}*/

.gsInformer {
    width:100%;
    height:auto;
}

.today_data_time {
    font-size: 12px;
    text-align: right;
    text-shadow: 2px 3px 13px #adadad;
    text-decoration: underline;
    text-align: center;
}

.subscribe {
    text-align: center;
    margin-bottom: 10px;

}

.btn_subscribe {
    color: #fff;
    background-color: #4d76a1;
    border-color: #4d76a1;
    /* width: 66%; */
    font-size: 12px;
}

.btn_subscribe:hover {
    color: #fff;
    background-color: #4d82b9;
    border-color: #4d82b9;
}

.vk {
    display: inline-block;
}

.search {
}
.search__input {
    font-size: 12px;
}
.search__button {
    font-size: 12px;
}

.header {
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: rgb(33, 37, 41);
    font-family: unset;
    line-height: 24px;
    margin-bottom: 5px;
}
.header a {
    color: rgb(33, 37, 41);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb {
    font-size: 10px;
}

.news {
    border-left: 1px solid #a7a7a7;
    margin-bottom: 15px;
}

.publications {
    border-left: 1px solid #a7a7a7;
}

.banners {
    border-left: 1px solid #a7a7a7;
    border-right: 1px solid #a7a7a7;
}

.news img {
    margin-right: 10px;
    box-shadow: 2px 2px 4px 0px #b3b3b3;
}

.news_post, .publication_post {
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 10px;
}

.first_news_post_img {
    width: 100%;
    height: auto;
}

.news_post_imgs {
    width: 55%;
    height: auto;
}


p {
    font-family: Georgia;
}

.content, .content p, .content em, .content span {
    font-family:Georgia!important;
    font-size: 16px!important;
    text-align: justify!important;
    background: #F3F3F0!important;
    /*text-indent: 5px!important;*/
    margin-bottom: 10px!important;
}

.created {
    font-size: 12px;
    color: #5a5a5a;
    text-align: right;
}

.publications p {
    text-align: center;
}

.all_publications {
    font-size: 16px;
    text-align: center;
}

.badge_all_publications {
    text-align: right;
}

.banners {
    /*text-align: justify;*/
}

.banners_post {
    margin-bottom: 5px;
    /*border-bottom: 1px solid #a7a7a7;*/
    text-align: center;
}

.banners_post img {
    width: 100%;
    height: fit-content;
}

.photogallery {

}

.photogallery-post {
    
}

.photogallery-post__image {

}

.photogallery-post__image_width100{
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 20px 0px #b7b7b7;
}

.photogallery-post__title {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px; 
    text-align: center; 
    color: rgb(33, 37, 41); 
    font-family: unset;
    line-height: 24px;
    margin-bottom: 5px;
}

.news_article {
    margin-bottom: 15px;
}

.article_main_image {
    margin-right: 10px;
}

.news_article >img{
    width: 50%;
    /* height: auto; */
    float: left;
    margin-right: 10px;
}

.news_article > p {
    /* text-indent: 1.5em; */
    text-align: justify;
}

.news_article .source_news_article {
    font-size: 12px;
    font-style: italic;
}

.share_news_article {
    margin-bottom: 10px;
}

.about {

}

.about__menu{

}
.about__content{}
.employee{
    margin-bottom:15px;

}
.employee-photo{}
.employee-details{
    border-bottom: darkgrey 1px solid;
}
.employee-details__name{
    font-weight:700;
}
.employee-details__post{}
.employee-details__phone{}
.employee-details__email{}
.employee-details__education{}




footer .footer {
    background: #111;
    margin-top: 20px;
    color: #d6d6d6;
}
footer .footer-left, .footer-center, .footer-right {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}