{% load static %}

<html>
    <head>
        <title>Страница не найдена</title>
    </head>
    <body>
        <h1>Страница не найдена</h1>
        <a href="/">Вернуться на главную</a>
        <hr>
        <div class="social">
              <a href="https://vk.com/seltruzh" target="_blank">
                <img alt="мы в контакте" src="{% static 'images/vk.png' %}" width="32" height="32">
              </a>
              <a href="https://www.facebook.com/groups/192803901814187/" target="_blank">
                <img alt="мы в фейсбуке" src="{% static 'images/facebook.png' %}" width="32" height="32">
              </a>
              <a href="https://www.instagram.com/seltruzh/" target="_blank">
                <img alt="мы в инстаграме" src="{% static 'images/instagram.png' %}" width="32" height="32">
              </a>
        </div>
    </body>
</html>