<!doctype html>
<html lang="ru">
{% load static %}
  <head>
    <title>{% block title %}ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета 'Селький труженик' - Ял есчене{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1200" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="yandex-verification" content="56b71bd00db136f0" />
    <meta name="google-site-verification" content="3RtgdjdigqpwhktE0_zagqwVcGR3SdXfGzQjkIHPPeI" />
    <meta name="referrer" content="origin"/>
    {% block meta %}
      <meta name="description" content="Сайт Янтиковской районной газеты ял ӗҫченӗ (селький труженик), свежие новости Янтиковского района и Чувашской Республики">
    {% endblock %}
    {% block open_graph %}{% endblock %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.site.name }}{{ request.path }}{% if page %}?page={{ page }}{% endif %}"/>
    <!--[if lte IE 9]><script src="{% static 'js/oldies.js' %}" charset="utf-8"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}?v=3" type="text/css" />
    {# favicon #}
    <link rel="shortcut icon" href="{% static '/images/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
  {# <!-- Global site tag (gtag.js) - Google Analytics --> #}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171277943-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171277943-1');
  </script>

  </head>
  <body>
    <div class="container">
        <header class="header">
            <div class="row align-items-center">
              <div class="col-6 header-left">
                <div class="logo">
                  <div class="logoexpand">Янтиковская районная газета "Сельский труженик"</div>
                    <a class="logo__text" href="{% url 'index' %}">ЯЛ ӖҪЧЕНӖ</a>
                </div>
              </div>
              <div class="col-3 header-center">
                <div class="gismeteo">
                    {# <!-- Gismeteo informer START --> #}
                    <link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
                    <div id="gsInformerID-5FBglbu3SoP5s1" class="gsInformer">
                      <div class="gsIContent">
                      <div id="cityLink">
                          <a href="https://www.gismeteo.ru/weather-yantikovo-236694/" target="_blank" title="Погода в Янтиково">
                            <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Янтиково">
                          </a>
                      </div>
                      <div class="gsLinks">
                          <table>
                              <tr>
                                  <td>
                                      <div class="leftCol">
                                          <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                              <img alt="Погода" src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" width="11" height="16" />
                                              <img alt="Погода гисметео" src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" style="left: 5px; top:1px">
                                          </a>
                                      </div>
                                      <div class="rightCol">
                                          <a href="https://www.gismeteo.ru/" target="_blank" title="Погода в Янтиково на 2 недели">
                                            <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" style="top:auto" alt="Погода в Янтиково на 2 недели">
                                          </a>
                                      </div>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      </div>
                    </div>
                    <script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=5FBglbu3SoP5s1"></script>
                    {# <!-- Gismeteo informer END --> #}
                </div>
              </div>

              <div class="col-3 header-right">
                  <div class="since">
                      <span class="since__chuv">1935 ÇУЛТА ФЕВРАЛĔН 17-МĔШĔНЧЕ ТУХМА ПУÇЛАНĂ</span>
                      <span class="since__rus">(Газета издается с 17 февраля 1935 года)</span>
                  </div>
                  <div class="social">
                      {# <a class="btn subscribe__btn" href="{% url 'about:subscribe' %}" role="button">Подписка на газету &raquo;</a> #}
                        <a href="https://vk.com/seltruzh" target="_blank">
                          <img alt="ял есчене в контакте" src="{% static 'images/vk.png' %}" width="32" height="32">
                        </a>
                        <a href="https://www.facebook.com/groups/192803901814187/" target="_blank">
                          <img alt="ял есчене в фейсбуке" src="{% static 'images/facebook.png' %}" width="32" height="32">
                        </a>
                        <a href="https://www.instagram.com/seltruzh/" target="_blank">
                          <img alt="ял есчене в инстаграме" src="{% static 'images/instagram.png' %}" width="32" height="32">
                        </a>                        
                        <a href="https://t.me/yantik_press/" target="_blank">
                          <img alt="ял есчене в телеграме" src="{% static 'images/telegram.png' %}" width="32" height="32">
                        </a>
                  </div>
                  
              </div>

            </div>
            <div class="today_date"><i class="far fa-calendar-alt"></i> {% now "l\, j F Y \г." %}</div>
        </header>

            <div class="row">
              <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark menu">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/press/" id="navbarDropdown-press" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Пресс-центр
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-press">
                          <a class="dropdown-item" href="{% url 'news:actuals' %}">Акутально</a>
                          <a class="dropdown-item" href="{% url 'news:news' %}">Новости</a>
                          <a class="dropdown-item" href="{% url 'news:publications' %}">Публикации</a>
                          <a class="dropdown-item" href="{% url 'news:photogallery' %}">Фотогалереи</a>
                          <a class="dropdown-item" href="{% url 'news:videonews' %}">Видеоновости</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdown-about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Редакция
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-about">
                          <a class="dropdown-item" href="{% url 'about:structure' %}">Структура</a>
                          <a class="dropdown-item" href="{% url 'about:vacancies' %}">Вакансии</a>
                          <a class="dropdown-item" href="{% url 'about:projects' %}">Проекты</a>
                          <a class="dropdown-item" href="{% url 'about:documents' %}">Документы</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'about:history' %}">История редакции</a>
                        </div>
                      </li>
 
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'subscribe' %}">Подписка</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'advertising' %}">Реклама</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'announcing' %}">Объявления</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 search" action="{% url 'search' %}">
                      <input class="form-control mr-sm-2 search__input" name="q" type="text" placeholder="Поиск" aria-label="Поиск" value="{% if query %}{{ query }}{% endif %}">
                      <button class="btn btn-outline-light my-2 my-sm-0 search__button" type="submit">Найти</button>
                    </form>
                  </div>
                </nav>
              </div>
          </div>

          {% block breadcrumb %}{% endblock breadcrumb %}

        <main>
          {% block main %}{% endblock %}
        </main>

        <footer>
            <div class="row footer">
              <div class="col-4 footer-left">
                <address>
                  {# <img src="{% static 'images/logo-16x16.png' %}" width="16" height="16" alt="Логотип ял ӗҫченӗ"> #}
                  АУ «Редакция Янтиковской районной газеты «Ял ěçченě» («Сельский труженик») Мининформполитики Чувашии 429290, Чувашская Республика, Янтиковский район, с. Янтиково, проспект Ленина, 11
                </address>
                <a href="tel:+78354821110">Телефоны: +7 (83548) 2-11-10, 2-15-64</a>
                <a href="tel:+78354821110">Факс: +7 (83548) 2-11-10</a>
                <a href="{{ request.scheme }}://{{ request.site.name }}">Сайт: {{ request.scheme }}://{{ request.site.name }}</a>
                <a href = "mailto:smi11@cap.ru">Эл. почта: smi11@cap.ru</a>
              </div>

              <div class="col-4 footer-center">
                  <div>
                      <img src="{% static 'images/logo-32x32.png' %}" width="32" height="32" alt="АУ «Редакция Янтиковской районной газеты «Ял ěçченě» («Сельский труженик») Мининформполитики Чувашии" loading="lazy">
                  </div>
                  <div class="copyright">
                    © При использовании материалов ссылка на данный сайт обязательна
                  </div>
                  <div class="metrika">
                      {# <!-- Yandex.Metrika informer --> #}
                          <a href="https://metrika.yandex.ru/stat/?id=62956318&amp;from=informer"
                          target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/62956318/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="62956318" data-lang="ru" /></a>
                          {# <!-- /Yandex.Metrika informer --> #}

                          {# <!-- Yandex.Metrika counter --> #}
                          <script>
                             (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                             m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                             (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                             ym(62956318, "init", {
                                  clickmap:true,
                                  trackLinks:true,
                                  accurateTrackBounce:true,
                                  webvisor:true
                             });
                          </script>
                          <noscript><div><img src="https://mc.yandex.ru/watch/62956318" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                      {# <!-- /Yandex.Metrika counter --> #}
                  </div>
                  <a href="https://webmaster.yandex.ru/siteinfo/?site=yantik-press.ru"><img width="88" height="31" alt="" border="0" src="https://yandex.ru/cycounter?yantik-press.ru&theme=light&lang=ru"/></a>
              </div>

              <div class="col-4 footer-right">
                <a href="http://yantik-press.cap.ru/" target="_blank">Старая версия сайта газеты "ЯЛ ӖҪЧЕНӖ"</a>
                <a href="http://yantik.cap.ru/" target="_blank">Янтиковский район Чувашской Республики</a>
                <a href="http://www.cap.ru/" target="_blank">Органы исполнительной власти Чувашии</a>
                <a href="http://info.cap.ru/" target="_blank">Мининформполитики Чувашии</a>
                <a href="https://www.gosuslugi.ru/" target="_blank">Портал государственных услуг РФ</a>
                <a href="http://gov.cap.ru/Default.aspx?gov_id=662" target="_blank">Центр занятости населения района</a>
                <a href="http://chuvjour.ru/" target="_blank">Союз журналистов Чувашии</a>
              </div>
          </div>
        </footer>
    </div>
    {# <!-- Optional JavaScript --> #}
    {# <!-- jQuery first, then Popper.js, then Bootstrap JS --> #}
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}?v=1"></script>

    {# <!-- Gismeteo Informer (begin) --> #}
    <script>
    (function() {
        var
            d = this.document,
            o = this.navigator.userAgent.match(/MSIE (6|7|8)/) ? true : false,
            s = d.createElement('script');
            s.src  = 'https://www.gismeteo.ru/informers/simple/install/';
            s.type = 'text/javascript';
            s[(o ? 'defer' : 'async')] = true;
            s[(o ? 'onreadystatechange' : 'onload')] = function() {
                try {new GmI({
                    slug : 'fbe2ee01c6b2a0dd0f3ef73c04bc49fd',
                    type : '240x90-2',
                    city : '236694',
                    lang : 'ru'
                })} catch (e) {}
            }
            d.body.appendChild(s);
    })();
    </script>
    {# <!-- Gismeteo Informer (finish) --> #}
  </body>
</html>
