<!doctype html>
<html lang="ru">
{% load static %}
  <head>
    <title>{% block title %}ЯЛ ӖҪЧЕНӖ - Янтиковская районная газета "Селький труженик"{% endblock %}</title>
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1110">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <!--[if lte IE 9]><script src="{% static 'js/oldies.js' %}" charset="utf-8"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
  </head>
  <body>
    <div class="container">
        <header class="header">
            <div class="row align-items-center">
              <div class="col-6 header-left">
                <div class="logo">
                  <div class="logoexpand">Янтиковская районная газета "Сельский труженик"</div>
                    <a class="logo__text" href="{% url 'index' %}">ЯЛ ӖҪЧЕНӖ</a>
                  {# <img src="{% static 'images/logo.png'%}" width="540" height="115"> #}
                </div>
              </div>
              <div class="col-3 header-center">
                <div class="gismeteo">
                    {# <!-- Gismeteo informer START --> #}
                    <link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
                    <div id="gsInformerID-5FBglbu3SoP5s1" class="gsInformer">
                      <div class="gsIContent">
                      <div id="cityLink">
                          <a href="https://www.gismeteo.ru/weather-yantikovo-236694/" target="_blank" title="Погода в Янтиково">
                            <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Янтиково">
                          </a>
                      </div>
                      <div class="gsLinks">
                          <table>
                              <tr>
                                  <td>
                                      <div class="leftCol">
                                          <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                              <img alt="Погода" src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                              <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                                          </a>
                                      </div>
                                      <div class="rightCol">
                                          <a href="https://www.gismeteo.ru/" target="_blank" title="Погода в Янтиково на 2 недели">
                                            <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Янтиково на 2 недели">
                                          </a>
                                      </div>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      </div>
                    </div>
                    <script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=5FBglbu3SoP5s1"></script>
                    {# <!-- Gismeteo informer END --> #}
                </div>
              </div>

              <div class="col-3 header-right">
                  <div class="since">
                      <span class="since__since-chuv">1935 ÇУЛТА ФЕВРАЛĔН 17-МĔШĔНЧЕ ТУХМА ПУÇЛАНĂ</span>
                      <span class="since__since-rus">(Газета издается с 17 февраля 1935 года)</span>
                  </div>
                  <div class="social">
                      {# <a class="btn subscribe__btn" href="{% url 'about:subscribe' %}" role="button">Подписка на газету &raquo;</a> #}
                        <a href="https://vk.com/seltruzh" target="_blank">
                          <img alt="мы в контакте" src="{% static 'images/vk.png' %}">
                        </a>
                        <a href="https://www.facebook.com/groups/192803901814187/" target="_blank">
                          <img alt="мы в фейсбуке" src="{% static 'images/facebook.png' %}">
                        </a>
                        <a href="https://www.instagram.com/seltruzh/" target="_blank">
                          <img alt="мы в инстаграме" src="{% static 'images/instagram.png' %}">
                        </a>
                  </div>
                  
              </div>

            </div>
            <div class="today_date"><i class="far fa-calendar-alt"></i> {% now "l\, j F Y \г." %}</div>
        </header>

            <div class="row">
              <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark menu">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/news/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Пресс-центр
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'news:actuals' %}">Акутально</a>
                          <a class="dropdown-item" href="{% url 'news:news' %}">Новости</a>
                          <a class="dropdown-item" href="{% url 'news:publications' %}">Публикации</a>
                          <a class="dropdown-item" href="{% url 'news:photogallery' %}">Фотогалерея</a>
                          <a class="dropdown-item" href="#">Видеогалерея</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Редакция
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'about:structure' %}">Структура</a>
                          <a class="dropdown-item" href="{% url 'about:vacancies' %}">Вакансии</a>
                          <a class="dropdown-item" href="{% url 'about:documents' %}">Документы</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">История редакции</a>
                        </div>
                      </li>
 
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'subscribe' %}">Подписка</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'advertising' %}">Реклама</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'announcing' %}">Объявления</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 search" action="{% url 'search' %}">
                      <input class="form-control mr-sm-2 search__input" name="q" type="Поиск" placeholder="Поиск" aria-label="Поиск">
                      <button class="btn btn-outline-light my-2 my-sm-0 search__button" type="submit">Найти</button>
                    </form>
                  </div>
                </nav>
              </div>
          </div>

          {% block breadcrumb %}
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Главная</li>
                    </ol>
                  </nav>
          {% endblock breadcrumb %}

        <main>
          {% block main %}{% endblock %}
        </main>

        <footer>
            <div class="row footer">
              <div class="col-4 footer-left">
                АУ «Редакция Янтиковской районной газеты «Ял ěçченě» («Сельский труженик») Мининформполитики Чувашии
                429290, ЧР, Янтиковский район, с. Янтиково, пр. Ленина, 15
              </div>

              <div class="col-4 footer-center">
                  <div class="copyright">© При использовании материалов ссылка на данный сайт обязательна</div>
              </div>

              <div class="col-4 footer-right">
                Телефон: 8 (83548) 2-11-10, 2-15-64
                Факс: 8(83548) 2-11-10
                http://yantik-press.ru
                E-Mail: smi11@cap.ru
              </div>
          </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Gismeteo Informer (begin) -->
    <script type="text/javascript">
    (function() {
        var
            d = this.document,
            o = this.navigator.userAgent.match(/MSIE (6|7|8)/) ? true : false,
            s = d.createElement('script');
            s.src  = 'https://www.gismeteo.ru/informers/simple/install/';
            s.type = 'text/javascript';
            s[(o ? 'defer' : 'async')] = true;
            s[(o ? 'onreadystatechange' : 'onload')] = function() {
                try {new GmI({
                    slug : 'fbe2ee01c6b2a0dd0f3ef73c04bc49fd',
                    type : '240x90-2',
                    city : '236694',
                    lang : 'ru'
                })} catch (e) {}
            }
            d.body.appendChild(s);
    })();
    </script>
    <!-- Gismeteo Informer (finish) -->
  </body>
</html>
